<link rel="stylesheet" href="/css/unauthhome.css">

<div class="p-5 mb-4 bg-light rounded-3 first-container">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Welecome to Sociology</h1>
    <p class="col-md-8 fs-4">This is a basic website of social-media. Where you can post/share your opinion/thought about things going on around you and your socitey <br> So what are you wating for join now!!</p>
    <button><a id="Login-btn" href="/users/login">Login</a></button>
  </div>
  <div class="cover-image-container">
    <img src="https://freepngimg.com/thumb/girl/139335-mobile-using-girl-happy-phone.png" alt="" id="first-img">
  </div>
</div>



