<link rel="stylesheet" href="/css/login.css" />
<div id="login-page">
  <div class="heading">
    <h1>Sociology</h1>
    <h3>Be the part of the sociology. &nbsp;<span>OF social, FOR social, BY social</span></h3>
    <h3>
      Come and be social on india largest website.
    </h3>
  </div>
  <div id="login-form">
    <h1 id="login-form-heading">Login to your account</h1>
    <form action="/users/create-session" id="display-form" method="POST">
      <label for="login-email">Email Address</label>
      <input class="login-input" type="email" id="login-email" placeholder="abc123@exapmle.com" name="email" />

      <label for="login-password">Password</label>
      <input class="login-input" type="password" id="login-password" name="password">

      <button id="btn-login" type="submit">Login</button>

      <p id="Forget-password"><a href="">Forget Your Password?</a></p>
      <p id="Sign-up-asking">Don't have an account?&nbsp<span><a href="/users/sign-up">Sign-up</a></span></p>
    </form>
  </div>
</div>