<link rel="stylesheet" href="/css/user_signup.css">
<div id="signup-form">
  <h1>Sign-up</h1>
  <form action="/users/create" id="sign-up" method="POST">

    <label for="name-user">Enter your Name</label>
    <input class="sign-up-input" type="text" name="name" id="name-user">

    <label for="email-user">Enter your E-mail</label>
    <input class="sign-up-input" type="email" name="email" id="email-user">

    <label for="date-of-birth-user">Enter your date of birth</label>
    <input class="sign-up-input" type="date" name="dateofbirth" id="date-of-birth-user">

    <label for="password-user">Enter your password</label>
    <input class="sign-up-input" type="password" name="password" id="password-user">

    <label for="password-user-confirmed">Confirm password</label>
    <input class="sign-up-input" type="password" name="confirm_password" id="password-user-confirmed">

    <button id="sign-up-btn" type="submit">Sign-up</button>
    <p>Already have an account? <a href="/">Login here</a></p>
  </form>
</div>