#unauth-home-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  #sociology-description{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 45%;
    h2{
      text-align: center;
    }
  }
  #platform-img{
    img{
      height: 80vh;
      padding-right: 5vh;
    }
  }
}

#like-comment{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1{
    text-align: center;
  }
}