.first-container {
  display: flex;
  .cover-image-container{
    #first-img{
      height: 50vh;
    }
  }
  .container-fluid{
    button{
      width: 15vh;
      border-radius: 2vh;
      #Login-btn{
          text-decoration: none;
          font-size: larger;
      }
    }
    
  }
}